@font-face {
    font-family: PermanentMarker-Regular;
    src: url('fonts/PermanentMarker-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
}
a {text-decoration: none;}

/*Cabeçalho*/
.header {
    height: 99px;
    width: 100%;
    border-bottom :2px solid #292929;
    background-color: #1c1c1c;
}
.header-left {
    height: 99px;
    width: 50%;
    float: left;
}
.img-logo {
    border-radius: 50%;
    margin: 5px 70px;
}
.header-right {
    height: 99px;
    width: 50%;
    float: right;
}
.header-right ul li {
    list-style: none;
    display: inline;
}
ul {
    margin: 40px 0 0 450px;
}
li {
    margin: 0 3px;
}
li img {
    border-radius: 50%;
}

/*Conteudo*/
.content {
    height: 657px;
    width: 100%;
    background-color: gray;
}
.img-gato {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}
/*Parte do Billy*/
#contentLeft {
    height: 657px;
    width: 50%;
    background-color: #14001a;
    background-attachment: fixed;
    background-size: cover;
    float: left;
}
#cardLeft {
    height: 460px;
    width: 350px;
    border: 1px solid #2f003d;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    background-position: center;
    transition: 0.3s;
    background-size: cover;
}
#h1Left {
    color: #ffa600;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 15px auto;
}
#h3Left {
    color: #ffa600;
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    margin: 10px 25px 0 25px;  
    opacity: 0;
}
/*Quando passar mouse no Billy*/
#cardLeft:hover {
    height: 460px;
    width: 350px;
    box-shadow: 2px 2px 60px black;
}
#cardLeft:hover #h1Left {
    display: none;
}
#cardLeft:hover #h3Left {
    opacity: 1;
    transition: 1s;
}
/*Parte da Azeitona*/
#contentRight {
    height: 657px;
    width: 50%;
    background-color: #fefff0;
    float: right;
    background-attachment: fixed;
}
#cardRight {
    height: 460px;
    width: 350px;
    border: 1px solid #fefff0;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    background-position: center;
    transition: 0.3s;
}
#h1Right {
    color: #ff0055;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 15px auto;
}
#h3Right {
    color: #ff0055;
    font-family: 'Permanent Marker', cursive;
    font-size: 17px;
    text-align: left;
    margin: 10px 25px 0 25px;  
    opacity: 0;
}
/*Quando passar o mouse na Azeitona*/
#cardRight:hover {
    height: 460px;
    width: 350px;
    box-shadow: 2px 2px 60px #001f05;
}
#cardRight:hover #h1Right {
    display: none;
}
#cardRight:hover #h3Right {
    opacity: 1;
    transition: 1s;
}

/*Pagina do Billy*/
#contentBilly {
    height: 657px;
    width: 100%;
    background-color: #14001a;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}
#contentBilly img {margin: -2px;}
#contentBilly div{
    height: 657px;
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/*azeitona.html*/
#contentAzeitona {
    height: 657px;
    width: 100%;
    background-color: #fefff0;
}
#contentAzeitona img {margin: -2px;}
#contentAzeitona div{
    height: 657px;
    width: 1200px;
    background-color: #fefff0;
    margin: 0 auto;
    padding: 30px;
}

/*Rodapé*/
.footer {
    height: 150px;
    width: 100%;
    background-color: #292929;
    border-top: 1px solid #1c1c1c;
}
.footer #ul1 {
    position: relative;
    list-style: none;
    font-size: 20px;
    float:left;
}
.footer #ul2 {
    list-style: none;
    font-size: 20px; 
    float: left;
}
 
 a {color: white;}